{{ define "layout" }}<!DOCTYPE html>
<html lang="en">
    {{ template "head" . }}
<body data-path="{{ .ActivePath }}" data-editable="{{ .Editable }}" data-live="{{ .Live }}" data-base="{{ .BaseURL }}" data-search-enabled="{{ .SearchEnabled }}" data-search-index="{{ .SearchIndexURL }}">
    {{ template "scripts" . }}
    {{ template "header" . }}
    {{ template "utility" . }}
    <hr>
    {{ template "main" . }}
    <hr>
    {{ template "footer" . }}
    {{ template "modals" . }}
</body>
</html>
{{ end }}
